body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.flag{
    width: 50vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.flag div{
    flex: 1;
}

.flag div:nth-child(1){
    background-color: black;
}
.flag div:nth-child(2){
    background-color: red;
}
.flag div:nth-child(3){
    background-color: yellow;
}